[Unit]
Description=Podman create-site.service
Wants=erp-next.service
After=erp-next.service redis-cache.service mariadb-app.service websocket.service  configurator.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/create-site.pid %t/create-site.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/create-site.pid \
    --cidfile %t/create-site.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/erp-next.pod-id --replace -d --name create-site \
    -v sites:/home/frappe/frappe-bench/sites \
    -v logs:/home/frappe/frappe-bench/logs \
    -v %S/bin/create-site:/create-site:Z \
    --env-file=%S/state/database.env \
    --env-file=%S/state/erpnext-modules.env \
     ${FRAPPE_PRESS_IMAGE} /bin/bash -c "/create-site"
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/create-site.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP create-site
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/create-site.ctr-id
PIDFile=%t/create-site.pid
Type=forking

[Install]
WantedBy=default.target
