# queue-default.service

[Unit]
Description=Podman queue-default.service
After=erp-next.service  redis-cache.service mariadb-app.service  configurator.service create-site.service frontend.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/queue-default.pid %t/queue-default.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/queue-default.pid \
    --cidfile %t/queue-default.ctr-id --cgroups=no-conmon \
     --pod-id-file %t/erp-next.pod-id --replace -d --name queue-default \
    -v sites:/home/frappe/frappe-bench/sites \
    -v logs:/home/frappe/frappe-bench/logs \
    -v certbot:/home/frappe/frappe-bench/.certbot:Z \
    -v docker-builds:/home/frappe/frappe-bench/.docker-builds:Z \
    -v clones:/home/frappe/frappe-bench/.clones:Z \
    -v %S/state/.ssh/:/home/frappe/.ssh/:Z \
    ${PRESS_IMAGE} bench worker --num-workers 8 --queue default
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/queue-default.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP queue-default
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/queue-default.ctr-id
PIDFile=%t/queue-default.pid
Type=forking

[Install]
WantedBy=default.target
